html, body {
  font-family: Pretendard, "Varela Round", cursive;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

img {
  width: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.highlight {
  position: relative;
  display: inline-flex;
}
.highlight::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: #FF2ABB;
  mix-blend-mode: plus-lighter;
  animation: w-full 2.5s ease-out forwards;
}

.sroll-y {
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.sroll-y::-webkit-scrollbar {
  display: none;
}
.sroll-y section {
  position: relative;
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  color: #393939;
}
.sroll-y section:first-of-type {
  background: #FF2ABB;
  color: #fff;
}
.sroll-y section h1 span {
  position: relative;
  display: inline-flex;
}
.sroll-y section h1 span::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  background: #393939;
  mix-blend-mode: plus-lighter;
  animation: w-full 2.5s ease-out forwards;
}
.intro h3 {
  margin-top: 60px;
}

.what > div, .why > div {
  padding: 0 20%;
}
.what p, .why p {
  font-size: 24px;
  margin-top: 30px;
}
.what p a, .why p a {
  padding: 16px;
  position: relative;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background: transparent;
  z-index: 1;
}
.what p a:hover, .why p a:hover {
  transition: 0.24s 0.5s linear;
  color: #fff;
}
.what p a:hover::before, .why p a:hover::before {
  width: 100%;
}
.what p a:hover::after, .why p a:hover::after {
  height: 100%;
  transition-delay: 0.4s;
}
.what p a::before, .why p a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  transition: 0.24s linear;
  background: #FF2ABB;
}
.what p a::after, .why p a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  transition: 0.24s linear;
  background: #FF2ABB;
  color: #fff;
  z-index: -10;
}
.what h3, .why h3 {
  margin-top: 30px;
}
.what h4, .what h5, .what h6, .why h4, .why h5, .why h6 {
  margin-top: 10px;
}
.what ul, .why ul {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.what ul li, .why ul li {
  position: relative;
  font-size: 20px;
  display: flex;
  gap: 28px;
}
.what ul li > div, .why ul li > div {
  flex: 1;
  min-height: 50px;
  height: 100%;
  padding: 20px;
  background: #393939;
  color: #fff;
}
.what ul li .link, .why ul li .link {
  position: absolute;
  transition: 0.25s ease;
  color: #fff;
}
.what ul li .link:active, .why ul li .link:active {
  font-weight: 900;
}
.what ul li .link:focus, .why ul li .link:focus {
  color: #FF2ABB;
}
.what ul li div:has(img), .why ul li div:has(img) {
  width: 300px;
}
.what ul li div:has(img) img, .why ul li div:has(img) img {
  transition: 0.26s ease;
}
.what ul li div:has(.ani), .why ul li div:has(.ani) {
  flex: 1;
  position: relative;
}
.what ul li div:has(.ani):focus-within, .why ul li div:has(.ani):focus-within {
  background: #e4b2d4;
}
.what ul li div:has(.ani):hover .hover, .why ul li div:has(.ani):hover .hover {
  transform: scale(1.1);
}
.what ul li .hover, .why ul li .hover {
  position: absolute;
  transition: 0.25s ease;
}
.what ul li #click, .why ul li #click {
  display: none;
}
.what ul li .click-pop, .why ul li .click-pop {
  position: absolute;
  padding: 12px 20px;
  background: #e4b2d4;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s ease;
  bottom: 0;
}
.what ul li label:has(input:checked) + .click-pop, .why ul li label:has(input:checked) + .click-pop {
  opacity: 1;
  visibility: visible;
}
.what ul li .img-hover:hover img, .why ul li .img-hover:hover img {
  content: url(https://images.unsplash.com/photo-1704137477371-bed38523c2eb?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MDY3MDc5Mjd8&ixlib=rb-4.0.3&q=85);
}

.is ul {
  margin-top: 30px;
}
.is#why-result h2 {
  margin-bottom: 30px;
}

.tab {
  display: flex;
  position: relative;
}
.tab li {
  display: inline-flex;
  flex: 1;
}
.tab li label {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  background: #e4b2d4;
  cursor: pointer;
}
.tab li label:has(input:checked) {
  background: #393939;
  color: #fff;
}
.tab li label:has(input:checked) + div {
  display: flex;
}
.tab li label input {
  display: none;
}
.tab li div {
  display: none;
  position: absolute;
  width: 100%;
  min-height: 100px;
  height: 100%;
  top: 100%;
  left: 0;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background: #e4b2d4;
}

.scroll-timeline {
  margin-top: 30px;
  height: 300px;
  overflow: scroll;
  scroll-timeline: --squareTimeline y;
  /* Firefox supports the older "vertical" syntax */
  scroll-timeline: --squareTimeline vertical;
  position: relative;
  border-radius: 20px;
}
.scroll-timeline::-webkit-scrollbar {
  display: none;
  background: #dedede;
}
.scroll-timeline-wrap {
  padding: 30px 20px;
  height: 600px;
  background: #dedede;
}
.scroll-timeline #square {
  background-color: deeppink;
  width: 100px;
  height: 100px;
  animation-name: rotateAnimation;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
  animation-timeline: --squareTimeline;
  position: absolute;
  bottom: 0;
}

.top-btn {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #e4b2d4;
  transition: 0.26s ease-out;
  font-size: 20px;
  font-weight: 600;
}
.top-btn a:hover, .top-btn a:active {
  background: #e4b2d4;
  border-color: #393939;
}

.has {
  margin-top: 30px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #393939;
}
.has:has(input:user-invalid) {
  background: #FF2ABB;
}
.has:focus-within {
  background: #e4b2d4;
}
.has label {
  padding: 20px;
  background: #e4b2d4;
}
.has label:focus-within {
  border: 2px solid #fff;
}
.has input {
  width: 100%;
  padding: 8px 10px;
}
.has input:user-invalid {
  border: 1px solid #FF2ABB;
}

.mimikkyu {
  transition: 0.5s ease-out;
}
.mimikkyu [class*=line] {
  stroke-width: 0;
  animation-name: drawOn;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.mimikkyu-line-1 {
  animation-delay: 0.2s;
}
.mimikkyu-line-2 {
  animation-delay: 0.5s;
}
.mimikkyu-line-3 {
  animation-delay: 1s;
}
.mimikkyu-line-4 {
  animation-delay: 1s;
}
.mimikkyu-line-5 {
  animation-delay: 1.5s;
}
.mimikkyu-line-6 {
  animation-delay: 1.7s;
}
.mimikkyu-line-7 {
  animation-delay: 2.3s;
}
.mimikkyu-line-8 {
  animation-delay: 2.5s;
}
.mimikkyu-line-9 {
  animation-delay: 2.9s;
}
.mimikkyu-line-10 {
  animation-delay: 3.5s;
}
.mimikkyu-line-11 {
  animation-delay: 4.1s;
}
.mimikkyu-line-12 {
  animation-delay: 4.7s;
}
.mimikkyu-line-13 {
  animation-delay: 5s;
}
.mimikkyu-line-14 {
  animation-delay: 5.4s;
}
.mimikkyu-line-15 {
  animation-delay: 6s;
  animation-duration: 1s;
}

@keyframes w-80 {
  100% {
    width: 80%;
  }
}
@keyframes w-full {
  100% {
    width: 100%;
  }
}
@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes drawOn {
  100% {
    stroke-width: 3px;
  }
}
h1 {
  font-size: 80px;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 42px;
}

h5 {
  font-size: 36px;
}

h6 {
  font-size: 24px;
}/*# sourceMappingURL=main.css.map */